body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.template div {
  display: inline-block;
  width: 33.33%;
  border: 1px solid transparent;
}
.template img {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
}
/* for myMeme */

.memeDiv button {
  border: none;
  outline: none;
  box-shadow: none;
  margin: 5px;
}
.memeImage {
  border: 0.5px solid black;
  border-radius: 5px;
  width: 40%;
}
.memeDiv input {
  margin: 5px;
  padding: 5px;
}
